@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* styles */
    color: #3F5062;
    font-family: "Lora", sans-serif
}

h1 {
    font-family: "figtree", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #302622;
    position: relative;
}


/* Header */
header {
    background-color: #DEE7ED;
    padding: 0 1rem;
    position:fixed;
    z-index: 98;
    width: 100%;
    box-shadow: 0 2px 2px #3F5062;
    /*toggle dropdown*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}
/* Logo */
h1 > .the-art{
    color: #C51718;
    -webkit-text-stroke: 1px #DEE7ED;
}
h1 > .table-tennis{
    color: #302622;
    -webkit-text-stroke: 1px #DEE7ED;
    position: relative;
    left: 4rem;
    z-index: 99;
}

#menu {
    font-family: "Montserrat alternates", sans-serif;
    list-style-type: none;
    letter-spacing: 4px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: right;
}


/* Nav style and drop down */
nav {
    position: absolute;
    background-color: #DEE7ED;
    width: 100%;
    left: 0;
    padding: 0 2rem;
    box-shadow: 0 2px 2px #3F5062;
    display: none;
    top: 100%;
}

/* nav dropdown */ 
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle{
    display: none;
}
.nav-toggle-label{
    font-size: 2rem;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
}

/* Main */
main {
    background-color: #5381B2;
    /* Main content takes up any surplus on page*/
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #083560;
}
 