@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* styles */
    color: #083560;
    font-family: "Lora", sans-serif
}
p {
    font-weight: 500;
}
h1 {
    font-family: "figtree", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #302622;
    position: relative;
}

/* Header */
header {
    background-color: #DEE7ED;
    padding: 0 1rem;
    position: fixed;
    z-index: 98;
    width: 100%;
    box-shadow: 0 2px 2px #3F5062;
    /*toggle dropdown*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}

/* Logo */
h1>.the-art {
    color: #C51718;

}
h1>.table-tennis {
    color: #302622;
    position: relative;
    left: 0.1rem;
    z-index: 99;
}
#logo>h1{
    font-weight: 500;
}
.bold-red {
    color: #C51718;
    font-weight: bold;
}
.bold-dark {
    color: #302622;
    font-weight: bold;
}
#menu {
    font-family: "Montserrat alternates", sans-serif;
    list-style-type: none;
    position: relative;
    letter-spacing: 4px;
    margin-top: 1px;
    color: #08345e;
}
#menu ul {
    position: absolute;
    right: 1.5rem;
}
#menu a:hover {
    color: #C51718;
}

/* Nav style and drop down */
nav {
    position: absolute;
    background-color: rgb(222, 231, 237, .9);
    width: 100%;
    left: 0;
    padding: 0 2rem;
    box-shadow: 0 2px 2px #3F5062;
    display: none;
    top: 100%;
}

/* nav dropdown */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2.5rem;
    position: absolute;
    right: 1.5rem;
    bottom: 1.7rem;
    color: #083560;
}

/* Main */
main {
    background-color: #dedada;
    /* Main content takes up any surplus on page*/
    flex: 1 0 auto;
    /*push main content down */
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* About */
.about {
    width: 90%;
    margin: 20px auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.about h2 {
    font-size: 220%;
    text-align: center;
    position: relative;
}

.about h3 {
    text-align: center;
    font-size: 150%;
}
.about h4 {
    text-align: center;
}
.about ul {
    list-style-type: none;
}



/* Table Tennis Image*/
.table-tennis-bat {
    background: url(../images/tableTennisBatGreyBG.jpg) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    max-width: 450px;
    max-height: 450px;
    margin-top: 2rem;
}
.tabletennis-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* WorkShop-section */
#hero {
    background: url(../images/pexels-alexander-dummer-37646-133022.jpg) no-repeat center center/cover;
    height: 700px;
    width: 100%;
    box-shadow: inset -10px -10px 10px 20px #dedada;
    position: relative;
    display: flex;
}
#covertext-wokshop {
    background-color: rgb(8, 53, 96, .7);
    position: absolute;
    top: 2rem;
    padding: 1rem 1rem;
    min-height: 200px;
    width: 80%;
    margin-left: 2rem;
    border-radius: 10px;
}
#covertext-training {
    background-color: rgb(8, 53, 96, .7);
    position: absolute;
    bottom: 3rem;
    right: 1.5rem;
    padding: 1rem 1rem;
    min-height: 200px;
    width: 80%;
    border-radius: 10px;
}
#hero h2 {
    color: #AF977B;
}
#hero h4 {
    color: #DEE7ED;
}

#hero hr {
    width: 65%;
}

/* buttons */
.buttons {
    background-color: #a3b3e3;
    position: relative;
    color:#30281f;
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 8px 15px;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    font-family:"Montserrat alternates", sans-serif;
    width: 10rem;
    text-align: center;
}
.buttons:hover {
    background-color: #002ead;
    transition: 0.7s;
}

/*benefits of table tennis*/
.benefits-of-tabletennis{
    margin: 10px auto;
    width: 90%
}
.benefits h2 {
    text-align: center;
    margin-top: 5rem;
}
.benefits-of-tabletennis h3{
    margin-top: 1rem;
}
.benefits-of-tabletennis p{
    padding: 0 0.5rem;
    margin-top: 0.2rem;
}

/*benefits image */
.benefits-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-circle{
    background: url(../images/benefits.jpg)no-repeat center center/cover;
    height:90vh;
    width: 90vh;
    margin-top: 1rem;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}
/* Where to find us */
.map{
    background: url(../images/wheretofindusBG.jpg) no-repeat center center/cover;
    width: 100%;
    height: 350px;
    position: relative;
}
.map img {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.location h2 {
    text-align: center;
    margin-top: 5rem;
    bottom: 0;
    padding-bottom: 1rem;
    font-size: 160%;
    box-shadow: inset -10px -10px 10px 20px #dedada;
    min-height: 130px;
    min-width: 200px;
}

/* Gallery Page */
.hidden {
    display: none;
}
.images img{
    width: 100%;
    line-height: 1em;

}
.images {
    line-height: 0;
}

/* form page */
.form {
    background: url(../images/form-bg.jpg)no-repeat center center / cover;
    background-size: cover;
    background-position: center;

}
.container{
    display: flex;
    flex-direction: inherit;
    background-color: rgba(145, 142, 139, 0.776);
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    margin: 5rem 5rem;
    align-items: center;
    justify-items: center;
    align-self: center;
    color:#fafafa;
    font-size: 150%;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.text-input {
    background: rgba(3, 10, 10, 0.808);
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
.message {
    background: rgba(3, 10, 10, 0.808);
    color: #fafafa;
    width: 100%;
    height: 50px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;

}
.form-button {
    position: relative;
    margin-left: 2rem;
    font-size: 100%;
    background-color: #083560;
    color: #fafafa;
}


.form-button:hover {
    background-color:rgba(145, 142, 139, 0.776);
    transition: 0.7s;
}

/* Footer */
footer {
    background-color: #083560;
    color: #AF977B;
    width: 100%;
}

#social-media {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 20px 0;
}

#social-media i {
    color: rgba(216, 147, 67, 0.687);
    font-size: 150%;
}

.location h2 {
    font-size: 180%;
    background-color: rgb(175, 151, 123, .5);
    position: relative;
    padding-top: 1rem;
    width: 50%;
    left: 4rem;
    max-width: 400px;
}


/* Media query: large or landscape phones (576px & up) */
@media screen and (min-width: 576px) {
    #logo {
        font-size: 280%;
        margin: 0 0.5rem;
    }
    #logo>h1 {
        font-weight: 500;
    }

    h1>.table-tennis {
        left: 7rem;
    }

    /* Main */
    main {
        margin-top: 97px;
    }

    .welcome h2 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    #about-text {
        display: flex;
        flex-direction: row;
    }

    .table-tennis-bat {
        display: block;
        position: relative;
        right: 2rem;
    }


    .covertext h4 {
        font-size: 120%;
        color: #dedada;
    }
    
    .covertext h2 {
        font-size: 150%;
        color: #dedada;
    }

}

/* Media query: tablets and larger (760px & up) */

/* Header */
@media screen and (min-width: 760px) {
    #logo>h1{
        font-size: 250%;
        margin: 0 0.5rem;
        font-weight: 500;
    }
    h1>.table-tennis {
        left: 10rem;
    }

    /* Navigation */
    .nav-toggle-label {
        display: none;
    }
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 0.5rem;
    }
    #menu {
        display: flex;
        color: #083560;
        font-size: 90%;
    }

    /* Main */
    #about-text {
        display: flex;
        flex-direction: row;
    }
    .welcome h2 {
        font-size: 260%;
        padding-bottom: 1rem;
        padding-top: 2rem;
    }
    .welcome h3 {
        font-size: 150%;
    }
    .welcome p {
        font-size: 115%;
    }
    .covertext h4 {
        font-size: 150%;
        color: #dedada;
    }
    .covertext h2 {
        font-size: 200%;
        color: #dedada;
    }
    .buttons {
        font-size: 120%;
    }

    /*benefits section*/
    .benefits h2 {
        font-size: 170%;
    }
    .left, .right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .left>div,
    .right>div{
        width: 75%;
    }
    .right>div{
        text-align: end;
        align-self: flex-end;
    }
    .right>hr {
        justify-items: end;
    }


    /*Gallery page */
    .images {
        column-count: 3;
    }

}

/* Media query: laptops and larger (982px & up) */
@media screen and (min-width: 982px) {

    /* Header */
    #logo > h1 {
        font-weight: 800;
    }
    #menu li{
        font-size: 200%;
    }

    /* Main */
    main {
        margin-top: 98px;
    }
    .welcome p {
        font-size: 120%;
    }
    /*benefits sections*/
    .benefits p{
        font-size: 120%;
    }
    .benefits h3{
        font-size: 150%;
    }
    .benefits h2{
        font-size: 250%;
    }
    .benefits-of-tabletennis{
        display: flex;
        flex-direction: row;
    }
    .benefits-of-tabletennis{
        flex: 1;
    }
    .benefits-image{
        order: 0;
    }
    .right{
        order: 1;
    }
    .left{
        align-items: flex-start;
    }
    .right{
        align-items: flex-end;
    }

    /* form Page */
    .container {
        width: 40%;
    }
}