@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* styles */
    color: #083560;
    font-family: "Lora", sans-serif
}

p {
    font-weight: 500;
}

h1 {
    font-family: "figtree", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #302622;
    position: relative;
}

/* Header */
header {
    background-color: #DEE7ED;
    padding: 0 1rem;
    position: fixed;
    z-index: 98;
    width: 100%;
    box-shadow: 0 2px 2px #3F5062;
    /*toggle dropdown*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Logo */
h1>.the-art {
    color: #C51718;
    -webkit-text-stroke: 1px #DEE7ED;
}

h1>.table-tennis {
    color: #302622;
    -webkit-text-stroke: 1px #DEE7ED;
    position: relative;
    left: 0.1rem;
    z-index: 99;
}

.bold-red {
    color: #C51718;
    font-weight: bold;
}

.bold-dark {
    color: #302622;
    font-weight: bold;
}

#menu {
    font-family: "Montserrat alternates", sans-serif;
    list-style-type: none;
    position: relative;
    letter-spacing: 4px;
    margin-top: 1px;
    color: #083560;
}

#menu ul {
    position: absolute;
    right: 1.5rem;
}

#menu a:hover {
    color: red;
}

/* Nav style and drop down */
nav {
    position: absolute;
    background-color: rgb(222, 231, 237, .9);
    width: 100%;
    left: 0;
    padding: 0 2rem;
    box-shadow: 0 2px 2px #3F5062;
    display: none;
    top: 100%;
}

/* nav dropdown */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
    position: absolute;
    right: 1.5rem;
    bottom: 1.7rem;
    color: #083560;
}

/* Main */
main {
    background-color: #ffff;
    /* Main content takes up any surplus on page*/
    flex: 1 0 auto;
    /*push main content down */
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* About */
#about {
    width: 90%;
    margin: 20px auto;
    height: auto;
}

#about h2 {
    font-size: 220%;
    text-align: center;
}

#workshop-intro p {
    margin-bottom: 20px;
}

#about p {
    padding: 0 20px;
}

hr {
    border: none;
    background-color: #000;
    color: #000;
    height: 2px;
    width: 80%;
}

#table-tennis-bat {
    background: url(../images/tabletenniswhitebg.png) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    max-width: 400px;
    max-height: 400px;
}

#tabletennis-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* WorkShop */
#hero {
    background: url(../images/pexels-alexander-dummer-37646-133022.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;
    box-shadow: inset -10px -10px 10px 20px #ffff;
    position: relative;
}

#covertext-wokshop {
    background-color: rgb(175, 151, 123, .5);
    position: absolute;
    top: 2rem;
    padding-left: 2rem;
    min-height: 200px;
    width: 80%;
    font-size: 80%;
}

#covertext-training {
    background-color: rgb(175, 151, 123, .5);
    position: absolute;
    bottom: 4rem;
    right: 1.5rem;
    min-height: 200px;
    width: 80%;
}

#hero hr {
    width: 65%;
}

/* Submit button */
input[type=submit] {
    background-color: #083560;
    position: relative;
    color: white;
    display: block;
    margin: auto;
    top: 1rem;

    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Where to find us */

.map {
    width: 100%;
    box-shadow: inset -10px -10px 10px 20px #ffff;

}

/* Footer */
footer {
    background-color: #083560;
    color: #AF977B;
    width: 100%;
}

/* Media query: large or landscape phones (576px & up) */
@media screen and (min-width: 530px) {
    #logo {
        font-size: 280%;
        margin: 0 0.5rem;
    }

    h1>.table-tennis {
        left: 7rem;
    }

    /* Main */
    main {
        margin-top: 97px;
    }

}

/* Media query: (824px & up) */
/* Header */
@media screen and (min-width: 824px) {
    #logo {
        font-size: 250%;
        margin: 0 0.5rem;
    }

    h1>.table-tennis {
        left: 10rem;
    }

    /* Navigation */
    .nav-toggle-label {
        display: none;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 0.5rem;
    }

    #menu {
        display: flex;
        color: #083560;
        font-size: 90%;
    }

    /* Main */
}

/* Media query: laptops and larger (982px & up) */
@media screen and (min-width: 982px) {

    /* Header */
    #menu {
        font-size: 150%;
    }

    /* Main */
    main {
        margin-top: 98px;
    }
}